# .gitignore
# -----------------------------------------------------------------------------
# virtual envs, cache, loaded/trained models
# -----------------------------------------------------------------------------
# adriana r.f. (@adrmisty:github)
# iker g.f.
# paula g.c.
# may-2026

# python envs
__pycache__/
*.py[cod]
.env
venv/

# data
workspace/*
LM/data/*
workspace/raw/*
!workspace/raw/.gitkeep
workspace/processed/*
!workspace/processed/.gitkeep
workspace/models/*
!workspace/models/.gitkeep
workspace/results/*
!workspace/results/.gitkeep

# model checkpoints
results/
save/
*.ckpt
*.pth